body {
    background-color: rgb(201, 201, 201);
}

table {
    width: 100%;
}

th,
td,
tr {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

.tablass {
    max-height: 300px;
    overflow-y: auto;
}

.input-obligatorio {

    color: red;
}

.form-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.form-toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-toggle-switch:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.form-toggle-switch.active {
    background-color: #0d6efd;
}

.form-toggle-switch.active:before {
    transform: translateX(25px);
}